body {
  background-image: url('./img/background.jpg')
}


.steps {
  background-color: #239CB9;
   width: 100px;
   height: 100px;
   /*position: relative;;;*/
   z-index: 5555;
}

#boardTable {
  margin:auto;
  padding: 40px;
}

#board {
  background-color: white;
  width: 700px;
  height: auto;
  margin: auto;
  text-align: center;
  border-radius: 50px;
}


#step0 {
  width: 175px;
  height: 50px;
  background-color: #239CB9;
  border-radius: 25px;
  padding: 15px;
  position: absolute;
  margin-top: 20px;
  margin-left: 21px;
}


#rollDice {
  width: 175px;
  height: 100px;
  background-color: #239CB9;
  border-radius: 25px;
  padding: 15px;
  float: right;
  margin-top: 20px;
  margin-right: 28px
}


h1 {
  font-size: 30px;
  font-family: Century Gothic;
  text-align: center;
  color: purple;
}

#start {
  width: 150px;
  height: 80px;
  background-color: #239CB9;
  border-radius: 25px;
  padding: 15px;
  font-size: 14pt;
  font-family: century;
  margin-bottom: 20px
}

#reset {
  width: 100px;
  height: 50px;
  background-color: #red;
  border-radius: 5px;
  position: absolute;
  top: 100px;
  right: 50px;
  font-size: 14pt;
  font-family: century;
}

#message {
  /*I took the shadow effect code from https://css-tricks.com/snippets/css/css-box-shadow/*/
  	-webkit-box-shadow: 0 15px 25px -6px black;
  	   -moz-box-shadow: 0 15px 25px -6px black;
  	        box-shadow: 0 15px 25px -6px black;
    width:600px;
    height: 400px;
    background-color: #edf6ff;
    border-radius: 25px;
    /*display: none;*/
    position: relative;
    margin: -800px auto;
    padding: 30px;
    display: none;


}

#messageText {
  display: block;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   font-size: 15pt;
   font-family: century gothic;


}

.challenges {
/*I took the shadow effect code from https://css-tricks.com/snippets/css/css-box-shadow/*/
	-webkit-box-shadow: 0 15px 25px -6px black;
	   -moz-box-shadow: 0 15px 25px -6px black;
	        box-shadow: 0 15px 25px -6px black;
  width:300px;
  height: 300px;
  background-color: #e6e6e6;
  border-radius: 25px;
  /*display: none;*/
  position: relative;
  margin: -700px auto;
  padding: 30px;
  font-family: century gothic;
  font-size: 15pt;
  display: none;
}

input {
  width: 175px;
  height: 30px;
  float: left;
  font-size: 10pt;
}

#step3, #step13 , #step20{
   background-image: url('./img/q.png')
}
#step15 {
  background-image: url('./img/time.png')
}

#step6 , #step18 {
   background-image: url('./img/game1.png')
}

#step8 {
  background-image: url('./img/luck.png')
}
#step11 {
  background-image: url('./img/hangmn.png')
}




span {
  font-size: 15px;
  font-style: italic;

}
